# Certificates & local env
.env.development

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.env
.env.*
!.env.ci
!.env.example
.env.local
.pytest_cache/
.coverage
.tox/
.cache
.mypy_cache/
.conda/

# Poetry
poetry.lock
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
*.db

# local db / artifacts
.data/
*.egg-info/

# Test outputs
test_output.json
